{% extends "layout.html" %}

{% block title %}Home – Rifle Assembly Academy{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}


{% block placeholder %}
  <div class="typewriter-overlay">
    <div class="typewriter-container">
      <span id="typed-text"></span><span class="cursor">|</span>
    </div>
  </div>
{% endblock %}

{% block sidebar_next %}
  <a id="next-sidebar"
     class="sidebar-next"
     href="{{ url_for('viewsar') }}">
    Next
  </a>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
