{# templates/videosar.html #}
{% extends "layout.html" %}

{% block title %}Video – Rifle Assembly Academy{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/videosar.css') }}">
{% endblock %}

{% block placeholder %}
  {# nothing here anymore; we’ll use content instead #}
{% endblock %}

{% block content %}
  <div class="video-container">
    <div class="video-wrapper">
      <div id="yt-player"></div>
    </div>
  </div>
{% endblock %}

{% block sidebar_back %}
  <a class="sidebar-back" href="{{ url_for('parts') }}">Back</a>
{% endblock %}

{% block sidebar_next %}
  <a class="sidebar-next" href="{{ url_for('quiz') }}">Next</a>
{% endblock %}

{% block scripts %}
{{ super() }}
  <script src="https://www.youtube.com/iframe_api"></script>
  <script src="{{ url_for('static', filename='js/videosar.js') }}"></script>
{% endblock %}
