{% extends "layout.html" %}

{% block content %}
<div class="model-container">
  <div class="sketchfab-embed-wrapper">
    <iframe 
  title="Low-Poly SAR-21" 
  frameborder="0" 
  allowfullscreen 
  mozallowfullscreen="true" 
  webkitallowfullscreen="true" 
  allow="autoplay; fullscreen; xr-spatial-tracking" 
  xr-spatial-tracking 
  execution-while-out-of-viewport 
  execution-while-not-rendered 
  web-share 
  src="https://sketchfab.com/models/1d2166390c70475097b97e3631367d10/embed?autospin=1&autostart=1&preload=1&transparent=1&ui_watermark=0&ui_infos=0&ui_theme=dark&dnt=1&initial_zoom=0">
</iframe>
    <p class="sketchfab-attribution">
      <a href="https://sketchfab.com/3d-models/low-poly-sar-21-1d2166390c70475097b97e3631367d10?utm_medium=embed&utm_campaign=share-popup&utm_content=1d2166390c70475097b97e3631367d10" target="_blank" rel="nofollow">Low-Poly SAR-21</a> 
      by <a href="https://sketchfab.com/TastyTony?utm_medium=embed&utm_campaign=share-popup&utm_content=1d2166390c70475097b97e3631367d10" target="_blank" rel="nofollow">TastyTony</a> 
      on <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=1d2166390c70475097b97e3631367d10" target="_blank" rel="nofollow">Sketchfab</a>
    </p>
  </div>
</div>

  <!-- Back ← Home -->
  <div
    id="back-sidebar"
    class="back-sidebar"
    data-prev="/"
  >
    <span>Back</span>
  </div>

  <!-- Next → Info -->
  <div
    id="next-sidebar"
    class="next-sidebar"
    data-next="/infosar"
  >
    <span>Next</span>
  </div>
{% endblock %}
